<!DOCTYPE html>
<html lang="es-do">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    @*@Styles.Render("~/content/bootstrap/dist/css/bootstrap.min.css")*@

    <!-- Font Awesome -->
    @Styles.Render("~/Content/font-awesome.min.css")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/Alignments.css")

    @*@Styles.Render("~/Content/style.css")*@
    @*@Styles.Render("~/Content/custom-breadcrums.css")*@

    @RenderSection("Styles", false)
</head>
<body>
    @*<div style="height: 27px" class="bg-warning text-center">
            <h4 class="text-light">AMBIENTE DE PRUEBA</h4>
        </div>*@
    <div class="wrapper">
        <!-- Sidebar  -->

        <nav id="sidebar">

            <div class="sidebar-header">
                <a href="/"><img src="~/Content/images/RCLogo.PNG" alt="logo" id="site_logo_id" style="width: 220px" /></a>

            </div>
            <ul class="list-unstyled components">
                @if (Session["role"] != null)
                {
                    <li><a id="Documents" href="/Documento/"><i class="fa fa-newspaper-o"></i>Listado de Documentos</a></li>
                    <li><hr style="border: 1px solid #fff; opacity: 0.4"></li>
                    <li><a id="DocumentTypes" href="/DocumentoTipos/"><i class="fa fa-list-alt"></i>Tipos de Documentos</a></li>
                    <li><a id="DocumentCodes" href="/DocumentoCodigo/"><i class="fa fa-list-alt"></i>Códigos de Documentos</a></li>
                    <li><a id="Directorate" href="/Direccion/"><i class="fa fa-list-alt"></i>Direcciones</a></li>
                    <li><a id="Area" href="/Area/"><i class="fa fa-list-alt"></i>Areas</a></li>
                    <li><a id="Department" href="/Departamento/"><i class="fa fa-list-alt"></i>Departamentos</a></li>
                    <li><a id="Macroprocess" href="/Macroproceso/"><i class="fa fa-list-alt"></i>Macroprocesos</a></li>
                    <li><a id="Process" href="/Proceso/"><i class="fa fa-list-alt"></i>Procesos</a></li>
                    <li><a id="Permisos" href="/Permiso/"><i class="fa fa-list-alt"></i>Permisos</a></li>
                    @*<li><a id="Navieras" href="/Naviera/"><i class="fa fa-ship"></i>Navieras</a></li>
                        <li><a id="Providers" href="/Suplidores/"><i class="fa fa-industry"></i>Suplidores</a></li>
                        <li><a id="ContainerStatus" href="/ContenedorEstatus/"><i class="fa fa-comment"></i>Estatus de Contenedores</a></li>
                        <li><a id="OrderStatus" href="/OrdenEstatus/"><i class="fa fa-comment"></i>Estatus de Ordenes</a></li>
                        <li><a id="Notifications" href="/Notificacion/"><i class="fa fa-inbox"></i>Notificaciones</a></li>*@
                    if (Session["role"].ToString() == "Admin")
                    {
                        <li><hr style="border: 1px solid #fff; opacity: 0.4"></li>
                        <li><a id="Users" href="/User/UsersList"><i class="fa fa-group"></i>Usuarios</a></li>
                    }

                    @*<li><a id="ReporteExistencia" href="/Reporte/Existencia"><i class="fa fa-newspaper-o"></i>Reporte de Existencia</a></li>*@
                    <li>@*<a id="ReporteAduana" href="/Reporte/Aduana"><i class="fa fa-newspaper-o"></i>Reporte de Aduana</a>*@</li>
                }
            </ul>
        </nav>

        @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light mb-1" style="padding: 0 !important; height: 50px;">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn">
                        <span class="fa fa-bars text-custom" style="font-size: 1.5em"></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav" style="position: absolute; right: 0">
                            <li class="nav-item">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/custom-layout.js")

    @RenderSection("scripts", required: false)

    <!-- jQuery CDN - Slim version(=without AJAX) -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <!-- Popper.JS -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>*@
    <!-- Bootstrap JS -->
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>*@
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');

                console.log('WHAT::', $('#site_logo_id').attr('src'))
                if ($('#site_logo_id').attr('src') === '/Content/images/RCLogo.PNG') {
                    $('#site_logo_id').attr('src', '/Content/images/RCLogoSmall.PNG');
                    $('#site_logo_id').width(27);
                }
                else {
                    $('#site_logo_id').attr('src', '/Content/images/RCLogo.PNG');
                    $('#site_logo_id').width(220);
                }
            });
        });
    </script>
</body>


</html>
