@model RepositorioDocumentos.Models.User

@{
    ViewBag.Title = "Registrar nuevo usuario";
}

<style>
    .disable-button {
        cursor: not-allowed;
    }
</style>

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Nuevo Usuario
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="col-3 mb-2">
                        <label for="validationDefault01">Usuario / Código de Empleado</label>
                        @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-3 mb-2">
                        <label for="validationDefaultUsername">Correo</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="idEmailDeco">@@</span>
                            </div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3">
                        <label for="validationDefault02">Rol</label>
                        @Html.DropDownListFor(m => m.Role, new SelectList(ViewBag.Roles, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Role)
                    </div>

                    <div class="col-3 mb-2">
                        <label for="validationDefault02">Contraseña</label>
                        @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control col-12", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">


                </div>

                <button id="createUser" class="btn btn-danger" type="submit">
                    Crear Usuario
                </button>

                <span id="message" class="d-block text-@ViewBag.Result pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#Users").addClass("menu-active");

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });

        $("#EmployeeID").keypress(function () {
            if (this.value.length >= 5)
                return false;
        });

        $("#PasswordHash").keyup(function () {
            if (this.value.length < 4 || this.value === $("#EmployeeID").val()) {
                $("#createUser").attr("disabled", "disabled");
                $("#createUser").addClass("disable-button");
                $("#message").text('Verifique que la contraseña tiene minimo 4 digitos y que no es el mismo Código de Empleado.')
            }
            else {
                $("#createUser").removeAttr("disabled");
                $("#createUser").removeClass("disable-button");
                $("#message").text('');
            }
        });
    });

</script>
